<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets' %>
	<link rel="shortcut icon" href="favicon.ico"/>
	<%= javascript_include_tag "application" %>
</head>
<body class="c-layout-header-fixed c-layout-header-fullscreen c-layout-header-topbar">
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
